/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

html.h5p-iframe, html.h5p-iframe > body {
  font-family: 'Times New Rome', serif !important;
}

.h5p-container {
  height: 625px !important;
  max-height: 100%;
}

.h5p-baq {
  background-image: url(../images/math-background-02.jpg);
  /* background: #ff69b4 !important; */
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 625px;
  font-family: 'Times New Rome', serif!important;
}

.h5p-joubelui-button.mq-control-button {
  margin-bottom: 12% !important;
  margin-top: 2em;
}

.h5p-baq .h5p-baq-intro-page-title * {
  color: #014876 !important;
  font-size: 36px !important;
  font-weight: bold;
  word-wrap: break-word;
  text-shadow: 3px 2px 2px rgba(2, 103, 170, 0.329) !important;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 96%; */
  padding: 0.4em;
}

.h5p-baq-intro-page {
  background-image: url(../images/math-background-01.jpg);
  /* background: #ff69b4 !important; */
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.h5p-baq-intro-page::after {
  content: "";
  display: block;
  width: 15vw;
  height: 100vh;
  min-width: 150px;
  background-image: url('../images/clickideias.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 40vh;
}

div.h5p-fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

.h5p-baq .h5p-enable-fullscreen:before {
  color: #0072bb !important;
  box-sizing: border-box;
  line-height: 1.25;
}

div.h5p-container .h5p-enable-fullscreen {
  text-shadow: none !important;
  background: none !important;
  font-size: 2.8em !important;
  font-weight:600;
  margin-top: 0.2em;
}

.h5p-disable-fullscreen {
  display: block;
  text-shadow: none !important;
  background: none !important;
  color: #0072bb !important;
  font-size: 5em !important;
  font-weight:600;
  position: absolute;
  top: 20px;
  right: 6px; 
  z-index: 1000;
}

.h5p-baq .question {
  margin: 3em 0 0 0 !important;
  font-size: 2em !important;
  font-weight: bold;
  color: #5b68b3;
  /* color: #21a8e0; */
  box-sizing: border-box;
  line-height: 1.25;
  text-shadow: 3px 2px 2px rgba(165, 165, 165, 0.5) !important;
}

.h5p-baq-alternatives > .h5p-joubelui-button.reveal-correct {
  background-color: #099750fd !important;
}

.h5p-baq-alternatives > .h5p-joubelui-button:active,
.h5p-baq-alternatives > .h5p-joubelui-button:hover {
  background-color: #0893d3;
}

.h5p-baq-game > .timer,
.h5p-baq-game > .h5p-baq-score-widget {
  color: #0072bb !important;
  text-shadow: none !important;
  font-size: 15px;
  font-weight:bold;
  background-color: #fff;
  height: 5vh;
}

.h5p-baq-score-widget-number {
  color: #0072bb!important;
}

.h5p-baq-alternatives > .h5p-joubelui-button {
  background-color: #8093f1;
  border-color: #e0e2ff;
}

.h5p-joubel-ui-slide {
    height: 100% !important; 
}

.h5p-baq-game {
  width: 100% !important;
}

.h5p-baq-result-page-header,
.h5p-baq-result-page-time > time,
.h5p-baq-result-page-time {
  color: #21a8e0 !important;
  font-size: 30px !important;
  font-weight: bold;
  text-shadow: 3px 2px 2px rgba(219, 219, 219, 0.486) !important;
}

.h5p-baq .h5p-joubelui-button {
  font-family: 'Times New Rome', serif !important;
  cursor: url('../images/custom-cursor.png'), auto;
}

.h5p-container, .h5p-baq-intro-page {
  cursor: url('../images/custom-cursor.png'), auto;
}

@media screen and (max-width: 570px) {
  .h5p-baq-alternatives > .h5p-joubelui-button {
    width: 40% !important;
  }
}

@media screen and (max-device-width: 1920px) and (max-height: 1080px) and (orientation:landscape) {
  .h5p-baq-alternatives > .h5p-joubelui-button {
    width: 29% !important;
  }
}



