/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

html.h5p-iframe, html.h5p-iframe > body {
  font-family: 'Times New Rome', serif !important;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.h5p-container, .h5p-baq, .h5p-baq-intro-page {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.h5p-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw !important;
  max-height: 100vh;
  overflow: hidden;
}

.h5p-baq {
  background-image: url(../images/math-background-02.jpg);
  /* background: #ff69b4 !important; */
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 625px;
  font-family: 'Times New Rome', serif !important;
}

.h5p-joubelui-button.mq-control-button {
  margin-bottom: 12% !important;
  margin-top: 2em;
}

.h5p-joubelui-button:hover {
  background-color: #21a8e0 !important;
}

.h5p-baq .h5p-baq-intro-page-title * {
  color: #014876 !important;
  font-size: 36px !important;
  font-size: clamp(24px, 4vw, 38px) !important;
  font-weight: bold;
  word-wrap: break-word;
  text-shadow: 3px 2px 2px rgba(2, 103, 170, 0.329) !important;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 95%; */
  padding: 0.4em;
}

.h5p-baq-intro-page {
  background-image: url(../images/math-background-01.jpg);
  /* background: #ff69b4 !important; */
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h5p-baq-intro-page::after {
  content: "";
  display: block;
  width: 15vw;
  height: 100vh;
  min-width: 150px;
  max-width: 100%;
  background-image: url('../images/clickideias.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 40vh;
}

div.h5p-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
  overflow: hidden !important;
  position: fixed !important;
  top: 0;
  left: 0;
}

* {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

.h5p-baq .h5p-enable-fullscreen:before {
  color: #0072bb !important;
  box-sizing: border-box;
  line-height: 1.25;
}

div.h5p-container .h5p-enable-fullscreen {
  text-shadow: none !important;
  background: none !important;
  font-size: 2.8em !important;
  font-weight:600;
  margin-top: 0.1em;
  position: absolute;
  top: 0px;
  right: 0px; 
  z-index: 1000;
}

.h5p-container, div.h5p-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  overflow: auto !important;
}

.h5p-disable-fullscreen {
  display: block;
  text-shadow: none !important;
  background: none !important;
  color: #0072bb !important;
  font-size: 5em !important;
  /* font-size: clamp(24px, 4vw, 40px) !important; */
  font-weight:600;
  position: absolute;
  position: fixed !important;
  right: 20px !important;
  top: 30px;
  right: 0px; 
  z-index: 1000;
  max-width: 100%;
}

.h5p-baq .question {
  margin: 2.5em 0 0 0 !important;
  font-size: 2.2em !important;
  font-weight: bold;
  color: #5b68b3;
  box-sizing: border-box;
  line-height: 1.25;
  text-shadow: 3px 2px 2px rgba(165, 165, 165, 0.5) !important;
}

.h5p-baq-alternatives > .h5p-joubelui-button.reveal-correct {
  background-color: #099750fd !important;
}

.h5p-baq-alternatives > .h5p-joubelui-button:active,
.h5p-baq-alternatives > .h5p-joubelui-button:hover {
  background-color: #0893d3;
}

.h5p-baq-game > .timer,
.h5p-baq-game > .h5p-baq-score-widget {
  color: #0072bb !important;
  text-shadow: none !important;
  font-size: 25px;
  font-weight:bold;
  background-color: #fff !important;
  height: 6.5vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em;
}

.h5p-baq-score-widget-number {
  color: #0072bb!important;
}

.h5p-baq-alternatives > .h5p-joubelui-button {
  background-color: #8093f1;
  border-color: #e0e2ff;
  font-size: 1.7em;
}

.h5p-joubel-ui-slide {
    height: 100% !important; 
}

.h5p-baq-game {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto !important;
}

.h5p-baq-result-page-feedback {
  position: absolute;
  top: 10%; /* Move um pouco para baixo */
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  width: 100%;
  overflow: visible;
  text-align: center;
}

.h5p-baq-result-page-header,
.h5p-baq-result-page-time > time,
.h5p-baq-result-page-time {
  color: #21a8e0 !important;
  font-size: 40px !important;
  font-weight: bold;
  text-shadow: 3px 2px 2px rgba(219, 219, 219, 0.486) !important;
}

.h5p-baq .h5p-joubelui-button {
  font-family: 'Times New Rome', serif !important;
  cursor: url('../images/custom-cursor.png'), auto;
}

.h5p-container, .h5p-baq-intro-page {
  cursor: url('../images/custom-cursor.png'), auto;
}

@media screen and (max-width: 570px) {
  .h5p-baq-alternatives > .h5p-joubelui-button {
    width: 40% !important;
  }
}

@media screen and (max-device-width: 1920px) and (max-height: 1080px) and (orientation:landscape) {
  .h5p-baq-alternatives > .h5p-joubelui-button {
    width: 29% !important;
  }
}


